/* Scale Brightcove icon fonts and text */
.video-js .vjs-control-bar .vjs-button {
  font-size: 1.2em;
}

.video-js .vjs-control-bar .vjs-time-control {
  font-size: 1.2em;
}

/* ✅ Make control buttons taller so icons can center properly */
.video-js .vjs-control-bar .vjs-control {
  height: 2.8em;
}
