/* Scale Brightcove icon fonts and text ONLY */
.video-js .vjs-control-bar .vjs-button {
  font-size: 1.2em;
}

/* Scale timecode text */
.video-js .vjs-control-bar .vjs-time-control {
  font-size: 1.2em;
}

/* Vertical centering that works with Brightcove's system */
.video-js .vjs-control-bar .vjs-button,
.video-js .vjs-control-bar .vjs-time-control {
  line-height: 2.8em;
}
