/* Restore icon for Chromecast receiver fallback */
.vjs-chromecast-receiver-button .vjs-icon-placeholder:before {
  content: "\f2a6";
  font-family: VideoJS;
  opacity: 1;
  color: #ffffff;
}

/* Hide button when unavailable */
.vjs-chromecast-receiver-button[aria-disabled="true"] {
  display: none !important;
}
